
body {
	background: url('../img/noisy_grid.png') 0 0 repeat;
}

#glosarium {
	position: relative;
	transition-property: background-color, color;
	transition-duration: 2s;
	transition-timing-function: ease-out;
}
#glosarium:hover {
	background: #000;
  transition-duration: 2s;
  transition-timing-function: ease-out;
	color: #FFF;
	}
#soal {
	position: relative;
	transition-property: background-color, color;
	transition-duration: 2s;
  transition-timing-function: ease-out;
}
#soal:hover {
	background: #000;
	color: #FFF;
	transition-duration: 2s;
  transition-timing-function: ease-out;
	}
#daftar {
	position: relative;
	transition-property: background-color, color;
	transition-duration: 2s;
	transition-timing-function: ease-out;
}
#daftar:hover {
	background: #000;
	transition-duration: 2s;
  transition-timing-function: ease-out;
	color: #FFF;
}
.padd{
	padding-top: 15px;
	padding-left: 15px;
	}
.back-shadow {
	color: white;
	border: 1px solid grey;
	background: hsl(0, 15%, 10%);
	box-shadow: 1px 1px 20px #333333;
	border-radius: 10px;
}
#bla {
	border: 3px solid #FFF;
	width: 570px;
	padding: 20px 30px;
	border-radius: 20px;
	margin: 20px;
	color: #FFF;
	}
#bla:hover {
	background: url('../img/noisy_grid.png') 0 0 repeat;
	color: #000;
	transition-property: background-color, color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	}
.ukuran {
	height: 200px;
	border-radius: 30px;
	color: #FFF;
	}
.ukuran a{
	color: #FFF;
	vertical-align: bottom;
	text-align: right;
	}
.dropdown-menu li a {
	padding-top: 15px;
	padding-bottom: 15px;
	}
.borderhov {
	transition: all 1s ease-in;
	}
.borderhov:hover {
	border: 6px solid #000;
	color: #000;
	transition: 0.3s ease;
    border-radius: none;
	}

#satu {
	background: #1abc9c;
	text-align:center;
	}
#satu:hover {
	background: #16a085;
	}
#dua {
	background: #16a085;
	text-align:center;
	}
#dua:hover {
	background: #1abc9c;
	}
#tiga {
	background: #2ecc71;
	text-align:center;
	}
#tiga:hover {
	background: #27ae60;
	}
#empat {
	background: #27ae60;
	text-align:center;
	}
#empat:hover {
	background: #2ecc71;
	}
#lima {
	background: #3498db;
	text-align:center;
	}
#lima:hover {
	background: #2980b9;
	}
#enam {
	background: #2980b9;
	text-align:center;
	}
#enam:hover {
	background: #3498db;
	}
#tujuh {
	background: #9b59b6;
	text-align:center;
	}
#tujuh:hover {
	background: #8e44ad;
	}
#lapan {
	background: #8e44ad;
	text-align:center;
	}
#lapan:hover {
	background: #9b59b6;
	}
#sem {
	background: #34495e;
	text-align:center;
	}
.semb {
	text-align:center;
	font-size:20px;
}
#sem:hover {
	background: #2c3e50;
	}
#sep {
	background: #2c3e50;
	text-align:center;
	}
#sep:hover {
	background: #34495e;
	}
#sebelas {
	background: #f1c40f;
	text-align:center;
	}
#sebelas:hover {
	background: #f39c12;
	}
#duabelas {
	background: #f39c12;
	text-align:center;
	}
#duabelas:hover {
	background: #f1c40f;
	}
#tigabelas {
	background: #e67e22;
	text-align:center;
	}
#tigabelas:hover {
	background: #d35400;
	}
#empatbelas {
	background: #d35400;
	text-align:center;
	}
#empatbelas:hover {
	background: #e67e22;
	}
#limabelas {
	background: #e74c3c;
	text-align:center;
	}
#limabelas:hover {
	background: #c0392b;
	}
#enambelas {
	background: #c0392b;
	text-align:center;
	}
#enambelas:hover {
	background: #e74c3c;
	}
#tujuhbelas {
	background: #00FFFF;
	text-align:center;
	}
#tujuhbelas:hover {
	background: #00CCCC;
	}
#lapanbelas {
	background: #00CCCC;
	text-align:center;
	}	
#lapanbelas:hover {
	background: #00FFFF;
	}
::-webkit-scrollbar {
	width: 15px;
	background: #E8E8E8;
}
::-webkit-scrollbar-thumb {
	background: #91c1f7;
}
::-webkit-scrollbar-thumb:hover {
	background: #4775D1;
}
::-webkit-scrollbar-button 
{  
	background-color: #BDDAFA; 
}
.wide-modal {
	width: 100%;
	}
.fonta {
	font-size: 23px;
	}
.fonta:hover {
	color: #000;
	}
.modal-title {
	color: #FFF;
	}
.satu {
	background: #1abc9c;
	}
.dua {
	background: #16a085;
	}
.tiga {
	background: #2ecc71;
	}
.empat {
	background: #27ae60;
	}
.lima {
	background: #3498db;
	}
.enam {
	background: #2980b9;
	}
.tujuh {
	background: #9b59b6;
	}
.lapan {
	background: #8e44ad;
	}
.sem {
	background: #34495e;
	}
.sep {
	background: #2c3e50;
	}
.sebelas {
	background: #f1c40f;
	}
.duabelas {
	background: #f39c12;
	}
.tigabelas {
	background: #e67e22;
	}
.empatbelas {
	background: #d35400;
	}
.limabelas {
	background: #e74c3c;
	}
.enambelas {
	background: #c0392b;
	}
.tujuhbelas {
	background: #00FFFF;
	}
.lapanbelas {
	background: #00CCCC;
	}	
#latar {
	background: #e5e5e5;
	}

tbody tr:nth-child(odd):hover{
	background: #d9534f;
	color: #FFF;
}
.garis {
	border: 1px solid #99AD99;
	}
.alertback {
	background: linear-gradient(to top, #CCFFCC, #99CCFF,#FF99FF);
	}
dd {
	padding-bottom: 20px;
	margin-left: 30px;
	}
#panelnav {
	background: #e5e5e5;
	}
#whywhy {
	overflow-y: scroll;
	height: 700px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 5px;
	transition: 2s ease-out;
	}
#whywhy:hover {
	box-shadow: 0 1px 1px #CC0099 inset, 0 0 12px #CC0099;color: #000;outline: 0 none;
	transition: 2s ease-out;
	}
.nav > li > a:hover {
	background: linear-gradient(to bottom, #FF99FF, #FFFF99, #99FF66, #00CCFF);
	color: #000;
	border-radius: 10px;
	}
.well {
	border: 1px solid #FF6600;
	background: #FFF;
	}
.inform {
	background: #00CCFF;
	}
.inway {
	background: #66FF66;
	}
.dangerss {
	background: #FF66CC;
	}
.warn {
	background: #FFFF00;
	}
